<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button" ng-click="doBack()">Back</button>
        </ion-nav-buttons>
        <ion-nav-title>Exschool</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="padding center>">
        	<center>
        	<h1> Kegiatan Exschool Disekolah </h1>
           	<img src="./img/exschool.jpeg" width="1000">
          <h1>Daftar Exschool</h1>
           </center>
        </div>
    </ion-content>
</ion-view>
