<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button" ng-click="doBack()">Back</button>
        </ion-nav-buttons>
        <ion-nav-title>Gallery</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="padding center>">
        	<center>
        	<img src="https://akcdn.detik.net.id/community/media/visual/2018/02/27/d3ef9389-0523-4402-99b1-dfc714ec3a71_43.jpeg?w=700&q=90" width="275">
        	<img src="https://awsimages.detik.net.id/community/media/visual/2018/02/27/eb69c512-c408-4859-9c3f-c2496339c434_43.jpeg?w=480" width="275">
        	<h1> Siswa dan Siswi yang Berprestasi </h1>
           	<img src="http://foto2.data.kemdikbud.go.id/getImage/69964122/3.jpg" width="275">
           	<img src="https://pbs.twimg.com/profile_images/378800000058381024/3c367c16b1e95221cf63fb33175baaed.jpeg" width="275">
           	<h1> Prasarana Belajar dan Mengajar </h1>
           </center>
        </div>
    </ion-content>
</ion-view>
