<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button" ng-click="doAbout()">Back</button>
        </ion-nav-buttons>
        <ion-nav-title>Location</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div id="map" data-tap-disabled="true"></div>
        <div class="padding center">
          <center>
          <h2> SDIT ABATA SRENGESENG</h2>
          <p>JL. H. Mandor Salim No.45, RT.5/RW.2, Srengseng, Kembangan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11630</p>
        </div>
    </ion-content>
</ion-view>
