<ion-view cache-view="false" title="Tambah Siswa">
  <ion-content>
    <div align="right">
      <a class="button icon ion-person-add" href="#/app/mtk-add">Add</a>
    </div>
    <form ng-submit="tambahMtk()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Kode MP</span>
          <input type="text" value="" ng-model="matakuliahData.mtk_kdmtk" />
        </label>
        <label class="item item-input">
          <span class="input-label">Nama MP</span>
          <input type="text" value="" ng-model="matakuliahData.mtk_namamtk" />
        </label>
        <label class="item item-input">
          <span class="input-label">Kelas</span>
          <input type="text" value="" ng-model="matakuliahData.mtk_sks" />
        </label>
        <label class="item">
          <button class="button button-block button-positive">Simpan</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
