<ion-view cache-view="false" title="Update Siswa">
  <ion-content>
    <div align="right">
      <a class="button icon ion-person-add" href="#/app/mhs-add">Add</a>
    </div>
    <form ng-submit="updateMtk()">
      <div clss="list">
        <input type="hidden" ng-model="mtkData.kdmtk" />
        <label class="item item-input">
          <span class="input-label">Nama Matakuliah</span>
          <input type="text" ng-model="mtkData.namamtk" />
        </label>
        <label class="item item-input">
          <span class="input-label">Kelas</span>
          <input type="text" ng-model="mtkData.sks" />
        </label>
        <label class="item">
          <button class="button button-block button-positive">Update</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
